{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Delete Searched </h3>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete keyword</li>
        </ol>
        </nav>
    </div>
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <!-- <p class="card-description"> Basic form elements </p> -->
        <form action="" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label>Are you sure you want to delete the keyword {{ keyword.key }}?</label><br>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}