<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Twitter Analysis</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <!--[if lte IE 8]>
        <script src="{% static 'js/excanvas.js' %}"></script>
    <![endif]-->
    <h1><a href=""><strong>Twitter Analysis</strong></h1></a>
    <h2><strong>Total Comments:</strong> {{ num_comments }}</h2>
    <div class="col-md-4">
        {% for comment in latest_comments %}
        <ul style="list-style-type: none;">
            <li><h3><strong>{{ comment.text }}</strong></h3></li>
            <li>{{ comment.stored_at }} from <strong>{{ comment.country }}</strong></li>
            <li>Polarity: {{ comment.polarity }}</li>
            <li>Keyword: {{ comment.keyword }}</li>
        </ul>
        {% endfor %}
    </div>
</head>
<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <div class="p-4 mb-3 bg-light rounded">
        <h3><strong>Sentiment Analysis</strong></h3>
        <canvas id="myChart" width="100" height="50"></canvas>
        <script type="text/javascript">
            $.get('{% url "tweet_visualizer" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                var data = {
                        datasets: [{
                            data: {{ sentiment_label }},

                            backgroundColor: [
                                'rgba(0,255,0,0.3)',
                                'rgba(255,0,0,0.3)',
                                'rgba(0,0,255,0.3)'
                            ]
                        }],                      

                        labels: [
                            'Postive',
                            'Negative',
                            'Neutral'
                        ]

                    };
                new Chart(ctx, {
                    type: 'pie', data: data
                });
            });
        </script>
    </div>
    <div class="p-4 mb-3 bg-light rounded">
        <h3><strong>Trend</strong></h3>
        <canvas id="LineChart" width="100" height="50"></canvas>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "tweet_visualizer" %}', function(data) {
                var ltx = $("#LineChart").get(0).getContext("2d");
                var data = {
                        labels: {{ yearLabel|safe }},

                        datasets: [{
                            data: {{ yearData }},
                            label: ['Trending'],
                            pointBackgroundColor: [
                                'rgba(0,255,0,0.3)'
                            ],
                            backgroundColor: [
                                'rgba(197, 239, 247, 0.7)'
                            ],
                            borderColor: [
                                'rgba(0, 181, 204, 1)'
                            ],
                            pointHoverBackgroundColor:[
                                'rgba(34, 49, 63, 1)'
                            ]
                        }]                      
                    };
                new Chart(ltx, {
                    type: 'line', data: data
                });
            });
        </script>
    </div>
</body>
</html>