{% extends "base_generic.html" %}
{% load static %}
<head>
    {% block title %}<title>"{{ word }}" Analysis</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- [if lte IE 8]>
        <script src="{% static 'js/excanvas.js' %}"></script>
    <![endif] -->
</head>
{% block content %}
<div class="content-wrapper">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    
    <h1><a href=""><strong>{{ word }}</strong></h1></a>
    
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><strong>Sentiment Map:</strong></h4>
                <div class="col-md-12" id="country-sentiment-map"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><strong>Count Map:</strong></h4>
                <div class="col-md-12" id="country-count-map"></div>
            </div>
        </div>
    </div>
   

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <h4 class="card-title"><strong>Top 10 Words:</strong></h4>
            <div class="card-body">
                <canvas id="BarChart" width="100" height="50"></canvas>
                <script type="text/javascript">
                    var ctx = $("#BarChart").get(0).getContext("2d");
                    var bar_data = {
                            datasets: [{
                                data: {{ word_count|safe }},
                                label: ['None'],
                                backgroundColor: [
                                    'rgba(0, 128, 128, 1)',
                                    'rgba(0, 128, 128, 0.9)',
                                    'rgba(0, 128, 128, 0.8)',
                                    'rgba(0, 128, 128, 0.7)',
                                    'rgba(0, 128, 128, 0.6)',
                                    'rgba(0, 128, 128, 0.5)',
                                    'rgba(0, 128, 128, 0.4)',
                                    'rgba(0, 128, 128, 0.3)',
                                    'rgba(0, 128, 128, 0.2)',
                                    'rgba(0, 128, 128, 0.1)',
                                    
                                ]
                            }],                      

                            labels: {{ word_list|safe }}
                    };
                    new Chart(ctx, {
                        type: 'horizontalBar', data: bar_data
                    });
                </script>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
            <h4 class="card-title"><strong>Sentiment Analysis</strong></h4>
            <canvas id="myChart" width="100" height="50"></canvas>
            <script type="text/javascript">
                var ctx = $("#myChart").get(0).getContext("2d");
                var data = {
                        datasets: [{
                            data: {{ sentiment_label }},

                            backgroundColor: [
                                'rgba(0,255,0,0.3)',
                                'rgba(255,0,0,0.3)',
                                'rgba(0,0,255,0.3)'
                            ]
                        }],                      

                        labels: [
                            'Postive',
                            'Negative',
                            'Neutral'
                        ]

                };
                new Chart(ctx, {
                    type: 'pie', data: data
                });
            </script>
            </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
            <h4 class="card-title"><strong>Trend</strong></h4>
            <canvas id="LineChart" width="100" height="50"></canvas>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "tweet_visualizer" %}', function(data) {
                    var ltx = $("#LineChart").get(0).getContext("2d");
                    var data = {
                            labels: {{ date_label|safe }},

                            datasets: [{
                                data: {{ date_count|safe }},
                                label: ['Trending'],
                                pointBackgroundColor: [
                                    'rgba(0,255,0,0.3)'
                                ],
                                backgroundColor: [
                                    'rgba(197, 239, 247, 0.7)'
                                ],
                                borderColor: [
                                    'rgba(0, 181, 204, 1)'
                                ],
                                pointHoverBackgroundColor:[
                                    'rgba(34, 49, 63, 1)'
                                ]
                            }]                      
                        };
                    new Chart(ltx, {
                        type: 'line', data: data
                    });
                });
            </script>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center" ><u><strong>Latest Tweets</strong></u></h3>
                <h5>Total Tweets: {{ num_comments }}</h5>
                <div class="row p-3">
                    {% for items in all_comments %}
                        {% if items.polarity >= 0.5 %}
                        <div class="col-12 col-md-6">
                            <div class="card border mt-3" style="height: 300px; max-height: 300px;">
                                <div class="card-body text-white bg-success">
                                    <p>{{items.text}}</p>
                                    <p>{{ items.stored_at }} from <strong>{{ items.country }}</strong></p>
                                    <p>Polarity: {{ items.polarity }}</p>
                                </div>
                            </div>
                        </div>
                        {% elif items.polarity <= -0.5 %}
                        <div class="col-12 col-md-6">
                            <div class="card border mt-3" style="height: 300px; max-height: 300px;">
                                <div class="card-body text-white bg-danger">
                                    <p>{{items.text}}</p>
                                    <p>{{ items.stored_at }} from <strong>{{ items.country }}</strong></p>
                                    <p>Polarity: {{ items.polarity }}</p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-12 col-md-6">
                            <div class="card border mt-3" style="height: 300px; max-height: 300px;">
                                <div class="card-body">
                                    <p>{{items.text}}</p>
                                    <p>{{ items.stored_at }} from <strong>{{ items.country }}</strong></p>
                                    <p>Polarity: {{ items.polarity }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="text-center">
                    <h5><a href="{% url 'tweet_list' word=word %}"><strong>More Tweets >></strong></a></h5>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {
        'packages':['geochart'],
        //  TODO: Maps API Key
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawMaps);

    function drawMaps() {
        let countData = google.visualization.arrayToDataTable({{ country_count|safe }}),
            countChart = new google.visualization.GeoChart(document.getElementById('country-count-map')),
            sentimentData = google.visualization.arrayToDataTable({{ country_sentiment|safe }}),
            sentimentChart = new google.visualization.GeoChart(document.getElementById('country-sentiment-map'));

        // Draw map with data and no custom options.
        countChart.draw(countData, {});
        sentimentChart.draw(sentimentData, {'colorAxis': { minValue: -1, maxValue: 1, colors: ['#FF0000', '#FFFA8C', '#00FF00']}});
      }
</script>
{% endblock %}